<!DOCTYPE html>
<html>
<head>
    <title>Plot - Cryptocurrency Price Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        var cryptocurrencies = {{ data|safe }};

        for (var i = 0; i < cryptocurrencies.length; i++) {
            var crypto = cryptocurrencies[i];
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Low');
            data.addColumn('number', 'Open');
            data.addColumn('number', 'Close');
            data.addColumn('number', 'High');

            var dataArray = crypto.data;
            for (var j = 0; j < dataArray.length; j++) {
                var entry = dataArray[j];
                data.addRow([new Date(entry.date), entry.low, entry.open, entry.close, entry.high]);
            }

            var options = {
                title: 'Candlestick Chart - ' + crypto.symbol,
                titleTextStyle: {
                    color: '#333',
                    fontSize: 24,
                    bold: true
                },
                legend: 'none',
                backgroundColor: {
                    fill: '#f8f8f8',
                    stroke: '#e6e6e6',
                    strokeWidth: 1
                },
                colors: ['#4285F4'],  // Use your preferred color(s) here
                fontName: 'Arial',
                chartArea: {
                    left: 60,
                    top: 40,
                    width: '80%',
                    height: '70%'
                },
                candlestick: {
                    fallingColor: { strokeWidth: 0, fill: '#d32f2f' }, // Red for falling candles
                    risingColor: { strokeWidth: 0, fill: '#00bfa5' }   // Green for rising candles
                },
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('candlestickChart' + crypto.symbol));
            chart.draw(data, options);
        }
    }
    </script>
</head>
<body style="background-color:#FBFFDC">

    {% include 'nav.html' %}
    <div style="text-align: center; margin-bottom: 20px;" >
        <br/>
        <h1>Candlestick Charts - Cryptocurrency Prices Over Time</h1>
        <p>Visualizing candlestick charts of cryptocurrency prices </p>
    </div>

    <div style="width: 80%; margin: auto;">
        <div id="candlestickChartBTCUSDT"></div>
        <div id="candlestickChartLTCUSDT"></div>
        <div id="candlestickChartETHUSDT"></div>
    </div>

</body>
</html>
