<!DOCTYPE html>
<html>
<head>
    <title>Cryptocurrency Price Tracker</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
		#banner {

			width: 100%;
			height: 700px;
			object-fit: cover;
		}
	</style>
</head>
<body>
     {% include  'nav.html'%}

     <div class="container">
    <h1 class="text-center mt-2 mb-4">Cryptocurrency Price Tracker</h1>
         <img  id="banner" class="img-fluid" src="https://bsmedia.business-standard.com/_media/bs/img/misc/2020-12/17/full/market-markets-stock-market-stock-stocks-rise-stock-rally-1608188452-80872620.jpg?im=FeatureCrop,size=(826,465)">
         <p class="text-center">Monitors the current value of digital currencies. Reliable and Accurate.</p>
         <div class="text-center">
            &copy; 2023 - Cryptocurrency Price Tracker
        </div>
         </div>
</body>
</html>
